@import 'tailwindcss';

@plugin "daisyui" {
}
@plugin "daisyui/theme" {
  name: 'synthwave';
}
@plugin "daisyui/theme" {
  name: 'pastel';
}

body {
  @apply text-lg font-normal;
  @apply overflow-y-scroll;

  h1 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl  font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-base-content;
  }

  figure[data-rehype-pretty-code-figure] {
    @apply my-3 overflow-clip rounded-xl;

    pre {
      @apply p-5 overflow-x-auto;
    }
  }
}

@layer components {
  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    content: '';
    @apply absolute left-0 bottom-0 w-0 h-0.5 bg-current transition-all duration-300 ease-out;
  }

  .underline-animation:hover::after {
    @apply w-full;
  }

  [data-theme='synthwave'] .theme-shadow-color {
    @apply shadow-base-content;
  }

  code[data-theme],
  code[data-theme] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  figure[data-rehype-pretty-code-figure] pre {
    @apply bg-[var(--shiki-light-bg)];
  }

  [data-theme='synthwave'] {
    code span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
    figure[data-rehype-pretty-code-figure] pre {
      @apply bg-[var(--shiki-dark-bg)];
    }
  }
}
