@import 'tailwindcss';
@plugin "daisyui" {
}
@plugin "daisyui/theme" {
  name: 'synthwave';
}
@plugin "daisyui/theme" {
  name: 'pastel';
}

body {
  @apply text-lg font-normal;

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl  font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-base-content;
  }
}

@layer components {
  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    content: '';
    @apply absolute left-0 bottom-0 w-0 h-0.5 bg-current transition-all duration-300 ease-out;
  }

  .underline-animation:hover::after {
    @apply w-full;
  }

  [data-theme='synthwave'] .theme-shadow-color {
    @apply shadow-base-content;
  }
}
